/* Chat View */
.chat-view {
    @apply flex flex-col pt-0 pb-[20px] px-[20px] pr-[20px] h-[100%] w-[100%];
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-header {
    @apply flex justify-between 
    items-center 
    pb-[10px] 
    text-[#fff] 
    mb-[20px] text-[20px];
    border-bottom: 1px solid #444;
}

.chat-messages {
    @apply flex-1 
    overflow-y-auto 
    p-[10px] 
    grid 
    auto-rows-max gap-[10px];
}

.message {
    @apply flex 
    flex-col 
    p-[10px] 
    rounded-[10px] 
    text-[#ECEFF4]
    w-max
    max-w-[375px]
}

.sender {
    @apply font-bold capitalize	
}

.self {
   @apply justify-self-end;
}

.self .content{
  @apply bg-[#114152e0];
}

.self .sender {
    @apply text-[#d0fbf5e0]
    text-right
}

.guest .sender {
    @apply text-[#57c3e0];
}

.guest .content {
    @apply bg-[#353582e0]
}

.message .content {
    @apply mt-[5px]
    p-[10px]
    rounded-[4px]
    break-all	
}

.message-input {
   @apply flex pt-[10px];
    border-top: 1px solid #444;
}

.message-input input {
    @apply flex-1 p-[10px] rounded-[5px] mr-[10px] bg-[#4C566A] text-[#ECEFF4];
    border: none;
}

.message-input button {
    @apply flex items-center justify-center rounded-[5px] text-[#fff] w-[10px] 
    cursor-pointer;
    border: none;
    padding: 10px 20px;
}

.message-input button:hover {
    background-color: #57c3e0;
}
