.chat-container {
    display: flex;
    flex-direction: column;
}

/* Chat View */
.chat-view {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    margin-bottom: 20px;
    color:#fff;
    font-size: 20px;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-auto-rows: max-content;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    color: #ECEFF4;
    width: max-content;
    max-width: 375px;
}

.sender {
    font-weight: bold;
    text-transform: capitalize;
}

.self {
   justify-self: flex-end;
}

.self .content{
  background-color: #114152e0;
}

.self .sender {
    color: #d0fbf5e0;
    text-align: right;
}

.guest .sender {
    color: #57c3e0;
}

.guest .content {
    background-color: #353582e0
}

.message .content {
    margin-top: 5px;
    word-break: break-all;
    padding: 10px;
    border-radius: 4px;
}

.message-input {
    display: flex;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background: #4C566A;
    color: #ECEFF4;
}

.message-input button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-input button:hover {
    background-color: #57c3e0;
}
