.header {
    @apply flex items-center justify-between py-[15px] px-[30px] h-[80px] text-[#fff] mb-[6px] ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #444;
}

.actions {
    @apply flex justify-between float-right;
}

.actions .p-button {
    margin-right: 8px;
}

.pi-microphone, .pi-video, .pi-users {
    font-size: 25px;
    margin: 0;
}

.mic-off::after {
    @apply absolute w-[44px] top-[22px] left-[10px] h-[2px] bg-[#bfbdbdbd];
    content: '';
    transform: rotate(145deg);
}

.cam-off::after {
    @apply absolute w-[44px] top-[22px] left-[7px] h-[2px] bg-[#fff];
    content: '';
    transform: rotate(145deg);
}

.p-button-danger {
    background-color: #FF4500;
    border-color: #FF4500;
}

.p-button-danger:hover {
    background-color: #D83400;
    border-color: #D83400;
}

.pi-phone {
    margin: 0;
    transform: rotate(138deg);
    font-size: 25px;
}