.side-bar {
    border-top: 1px solid;
    margin-top: 80px;
    width: 436px;
    border: none;
    height: -webkit-fill-available;
    background-color: rgb(21 26 33);
}

.p-sidebar-content {
    padding: 0;
}

.p-sidebar-header {
    padding: 5px;
}

.participant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}

.participant__name {
    margin: 0;
}

.participant-container {
    width: 90%;
    margin: 0 auto;
}

.title {
    margin: 0 0 30px 0;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
}

.pi-microphone {
    color: #fff;
    position: relative;
}

.mic-off::after {
    position: absolute;
    content: '';
    width: 39px;
    top: 12px;
    height: 2px;
    background-color: #fff;
    left: -7px;
    transform: rotate(145deg);
}