.participant-card {
    @apply flex flex-col items-center justify-center bg-[#434C5E] rounded-[10px] text-[#CCCCCC] w-[100%] h-[100%] p-[20px]
    text-center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.participant-card h3 {
    @apply m-0 text-[#FF4500] text-[20px];
}

.participant-card p {
    @apply my-[5px] mx-0 text-[#CCCCCC] text-[16px];
}

.participant-card .status {
    @apply mt-[10px] py-[5px] px-[10px] rounded-[5px] bg-[#444] text-[#fff] text-[14px]
}

.participant-name {
    @apply flex items-center justify-center bg-[cadetblue] w-[52px] h-[49px] rounded-[50%] font-thin;
    font-family: sans-serif; 
}

.player video {
    width: 100% !important;
    border-radius: 8px;
    height: unset !important; 
}

.active {
    border: 2px solid white;
    border-radius: 6px;
}

.person {
    @apply bg-transparent bg-cover bg-no-repeat	mb-[5px] ml-[10px];
  }

  .mic-off::after {
    @apply absolute w-[44px] top-[22px] left-[10px] h-[2px] bg-[#bfbdbdbd];
    content: '';
    transform: rotate(145deg);
}
